body{
  background-color: #A80505;
 
}

h1{

color:#F2E4E4



}

h1{

  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:#E32D2D
 ;
}


p{

color: #F2E4E4;
font-family: Verdana, Geneva, Tahoma, sans-serif;
 background-color:#E32D2D
 ;
}

p2{

color: #F2E4E4;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #C21D1D

;
}
